<div class="track">
  <div class="track-info">

    <div class="track-info__name">
      <h4>{{ track.name }}</h4>
    </div>

    <div class="track-info__meta">
      <span class="track-info__meta-duration">{{ songDuration }}</span>
      <div class="track-info__meta-tags">
        <span *ngIf="track.explicit" class="">Explicit</span>
      </div>
    </div>
  </div>
  <div class="track-playing__indicator">
    <img src="/assets/images/short-waves.png" class="bland" alt="">
    <img src="/assets/images/player-waves-colored.png" class="colored">
  </div>
  <div class="track-actions">
    <button class="track-actions__play">
      <span class="k-icon k-i-video-external"></span>
    </button>
  </div>
</div>
